.productlist{
  width:"100vw";
  display:"flex";
  flex-direction: column;
  justify-content: center;
}
.totalprice{
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  grid-area: aside;
  display: flex;
}
.a{
  font-size: 1.5em;
  font-weight: bold;
  text-align:center;
}
.b{
  font-size: 1.5em;

}
.h2{
  font-size: 1.5em;
  font-weight: bold; 
  text-align:center;
}